@import url(https://fonts.googleapis.com/css?family=Bitter);
body{
	background-color: white;
	font-family: 'Bitter', serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
h5{
	margin-top: 10px;
	color: white;
	font-family: 'Bitter', serif;
	padding: 0;
}
h4{
	color: white;
	font-family: 'Bitter', serif;
	font-size: 30px;
	text-transform: uppercase;
}
h3{
	color: white;
	font-family: 'Bitter', serif;
	font-size: 80px;
}
h1{
	color: white;
	font-size: 150px;
	margin-bottom: 0px;
	font-family: 'Bitter', serif;
}